---
name: {{ name }}
description: >
{% for line in description|description_lines %}
  {{ line }}
{% endfor %}
model: {{ model }}
tools: {{ tools|join(", ") }}
{% if color %}
color: {{ color }}
{% endif %}
framework_status: {{ framework_status }}
runtime_support:
  claude_code: {{ runtime_support.claude_code }}
  codex: {{ runtime_support.codex }}
---

{{ developer_instructions }}
